body{
    font-family: 'Ubuntu', sans-serif;
}
header, .banner, .services, .contact{
    background-color: #10103A;
}

h1{
    font-weight: 800;
}
h2{
    font-weight: 700;
}
h3{
    font-weight: 600;
}

header nav ul li a{
    font-size: 20px;
    transition: 0.5s;
}

header nav ul li a:hover{
    color: yellow !important;
}

.banner{
    margin-top: 94px;
}

.banner h1{
    font-size: 45px;
}
.banner h2{
    color: yellow;
    font-weight: 1000;
}

.banner p{
    font-weight: 550;
}


.about h1{
    color: black !important;
}

.about p{
    color: black !important;
    font-weight: 700;
}


.services .box{
    width: 95%;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0 12px;
    cursor: pointer;
    transition: 0.5s;
}

.services .box:hover{
    background-color: #202072;
}


.strategy{
    margin-bottom: 150px;
}
.strategy h1{
    color: black !important;
}


.strategy .box{
    width: 90%;
    border-radius: 8px;
}

.strategy .box .inner{
    box-shadow: 16px 20px 6px 9px #29212121;
}

.strategy .box button{
    margin-top: 25px;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
}






.contact{
    position: relative;
}
.contact form{
    width: 320px;
    background-color: #10103A;
    position: absolute;
    left: 0;
    right: 0;
    top: -165px;
    border-radius: 8px;
}

.contact form input{
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

.contact form input[type="submit"]{
    width: 60%;
    margin: 0 auto;
}

.contact .detail{
    margin-top: 172px;
}

.contact .detail p{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}
